<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<%= link_to 'Edit', edit_request_assignment_path(@request, @assignment) %> |
<%= link_to 'Back', request_assignments_path %>
