<%= form_for([@request, @request.comments.build]) do |f| %>
	
	<%= f.hidden_field :request_id, value: @request.id %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :body %>
  </p>
  <p>
      <%= f.submit %>
  </p>
<% end %>