<h1>Requests</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Title</th>
      <th>Description</th>
      <th>Submitted by</th>
      <% if current_user.try(:admin) %>
      <th>Priority</th>
      <% end %>
      <th>Assigned to</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.kind %></td>
        <td><%= request.title %></td>
        <td><%= request.description %></td>
        <td><%= request.user.name %></td>
        <% if current_user.try(:admin) %>
        <td><%= request.priority %></td>
        <% end %>
        <td><%= request.assignment.user.name %></td>
        <td><%= link_to 'Show', request %></td>
        <% if current_user == request.user %>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Assign', new_request_assignment_path(request) if current_user.try(:admin) && request.assignment.nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


